.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18vw;
  height: 18vw;
  padding: 1.4vh;
  margin-bottom: 4vh;
  box-sizing: border-box;
  transition: scale 0.2s;
}

.item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  scale: 1.01;
}

.item .image {
  position: relative;
  width: 100%;
  height: 85%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.item .image p {
  position: absolute;
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: gray;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item .image .available {
  width: 100%;
  height: 100%;
}

.item .image .notAvailable {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.item .button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  transform: translate(-30%, -50%);
  background-color: #52d67a;
  width: 4vh;
  height: 4vh;
  color: white;
  text-align: center;
  line-height: 4vh;
  border: none;
  border-radius: 50%;
  transition: scale 0.2s;
}

.item .button:hover {
  scale: 1.2;
  cursor: pointer;
}

.item .button .cart {
  font-size: 2vh;
}

.item .name {
  align-self: flex-start;
  font-size: 1.6vh;
  margin: 0;
}

.item .price {
  align-self: flex-start;
  font-size: 1.4vh;
  font-weight: 600;
  margin: 0;
}

@media (orientation: portrait) {
  .item {
    width: 90vw;
    height: 90vw;
  }
  .item:hover {
    box-shadow: none;
    scale: 1;
  }
  .item:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.01;
  }
  .item .image p {
    font-size: 3.4vh;
  }
  .item .button {
    width: 6vh;
    height: 6vh;
  }
  .item .button:hover {
    scale: 1;
  }
  .item .button:active {
    scale: 1.2;
    cursor: pointer;
  }
  .item .button .cart {
    font-size: 3vh;
  }
  .item .name {
    font-size: 3.2vh;
  }
  .item .price {
    font-size: 2.4vh;
  }
}
