.body {
  box-sizing: border-box;
  max-height: 94vh;
  margin: 0 10vw;
}

.body p {
  font-family: "Raleway", sans-serif;
  font-size: 3.6vh;
  margin: 3vh 0;
}

.body .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (orientation: portrait) {
  .body {
    margin: 0;
    padding: 0 5vw;
    height: 92vh;
    overflow: auto;
  }
  .body .items {
    flex-direction: column;
    align-items: center;
  }
}
