.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: white;
  margin: 0 10vw;
  font-size: 1.4vh;
}

.header p {
  margin: 0;
}

.header .categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: 6vh;
  text-align: center;
}

.header .categories .link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vh;
  padding: 2vh 2vh;
}

.header .categories .link:hover {
  color: #52d67a;
}

.header .categories .active {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vh;
  color: #52d67a;
  font-weight: 600;
  border-bottom: 2px solid #52d67a;
  padding: 2vh 2vh;
}

.header .logo {
  font-size: 2vh;
  color: #52d67a;
  transition: scale 0.2s;
}

.header .logo:hover {
  scale: 1.4;
}

.header .payment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
  text-align: center;
}

.header .payment .down {
  font-size: 1vh;
  margin-left: 0.3vw;
}

.header .payment .cart {
  font-size: 1.4vh;
  margin-left: 1vw;
}

.header .payment .currency {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .payment .currency:hover {
  color: #52d67a;
  cursor: pointer;
}

.header .payment .cart:hover {
  color: #52d67a;
  cursor: pointer;
}

.header .container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 6vh;
  right: 9.2vw;
  margin: 0;
  padding: 0;
  width: 5vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.header .container li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 3vh;
  font-size: 1.4vh;
}

.header .container li:hover {
  background-color: rgb(235, 229, 229);
  cursor: pointer;
}

.header .container .sign {
  margin-right: 0.2vw;
}
