.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6vh;
  background-color: white;
}

.header p {
  margin: 0;
}

.header .categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5vw;
  width: 20vw;
  height: 6vh;
  text-align: center;
}

.header .categories .link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vh;
  padding: 2vh 2vh;
  /* margin-right: 2vw; */
}

.header .categories .link:hover {
  color: #52d67a;
}

.header .categories .active {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vh;
  /* margin-right: 2vw; */
  color: #52d67a;
  font-weight: 600;
  border-bottom: 2px solid #52d67a;
  padding: 2vh 2vh;
}

.header .logo {
  font-size: 2vh;
  color: #52d67a;
}

.header .payment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
  margin-right: 5vw;
  line-height: 5vh;
  text-align: center;
}

.header .payment .dollar {
  font-size: 1.4vh;
}

.header .payment .down {
  font-size: 1vh;
  margin-left: 0.3vw;
}

.header .payment .cart {
  font-size: 1.4vh;
  margin-left: 1vw;
}

.header .payment p:hover {
  color: #52d67a;
  cursor: pointer;
}

.header .payment .cart:hover {
  color: #52d67a;
  cursor: pointer;
}
