.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94vh;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2vh;
}

.body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 80vh;
  margin-top: 8vh;
}

.body .images {
  display: flex;
}

.body .leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12vh;
  height: 40vh;
  margin-right: 2vw;
}

.body .leftSection .image {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  cursor: pointer;
  transition: scale 0.2s;
}

.body .leftSection .image:hover {
  scale: 1.05;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body .leftSection .image img {
  width: 100%;
  height: 100%;
}

.body .centerSection {
  width: 70vh;
  height: 60vh;
  overflow: hidden;
}

.body .centerSection img {
  width: 100%;
  height: 100%;
}

.body .rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vw;
  height: 80%;
}

.body .rightSection p {
  margin: 0;
  font-size: 1.6vh;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1vh;
}

.body .rightSection .name {
  font-size: 3vh;
  margin: 0;
  font-weight: 600;
}

.body .rightSection .size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.body .rightSection .size input {
  appearance: none;
  width: 3vw;
  height: 4vh;
  margin: 0;
  border: 1px solid black;
  color: #000;
}

.body .rightSection .size input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.body .rightSection .size input:checked {
  background-color: #1d1f22;
}

.body .rightSection .size input:checked ~ label {
  color: white;
}

.body .rightSection .size label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4vh;
}

.body .rightSection .size div {
  position: relative;
  width: 3vw;
  height: 4vh;
}

.body .rightSection .color {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.body .rightSection .color input {
  appearance: none;
  width: 3vh;
  height: 3vh;
  margin: 0 0.5vw 0 0;
}

.body .rightSection .color input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.body .rightSection .color input:nth-child(2) {
  background-color: #80482f;
}

.body .rightSection .color input:nth-child(3) {
  background-color: #8d877d;
}

.body .rightSection .color input:nth-child(4) {
  background-color: #2a2324;
}

.body .rightSection .color input:checked {
  border: 2px solid #000;
}

.body .rightSection button {
  width: 14vw;
  height: 5vh;
  border: none;
  background-color: #5ece7b;
  text-transform: uppercase;
  color: white;
  font-size: 1.4vh;
  font-weight: 600;
}

.body .rightSection button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.body .rightSection .description {
  font-weight: normal;
  font-size: 1.4vh;
  text-transform: none;
  line-height: 2.4vh;
}

@media (orientation: portrait) {
  .body {
    flex-direction: column;
    width: 100%;
    padding: 0 5vw;
    margin-top: 3vh;
    height: 0;
  }
  .main {
    height: 0;
  }
  .body .images {
    display: flex;
    flex-direction: column;
  }
  .body .leftSection {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
  }
  .body .leftSection .image {
    width: 25vw;
    height: 25vw;
  }
  .body .centerSection {
    width: 90vw;
    height: 90vw;
  }
  .body .rightSection {
    width: 60vw;
    height: 0;
  }
  .body .rightSection p {
    font-size: 2vh;
  }
  .body .rightSection .name {
    font-size: 4vh;
    margin: 3vh 0;
  }
  .body .rightSection .size {
    margin-bottom: 3vh;
  }

  .body .rightSection .size input {
    width: 12vw;
    height: 5vh;
  }
  .body .rightSection .size label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
  }
  .body .rightSection .size div {
    position: relative;
    width: 12vw;
    height: 5vh;
  }
  .body .rightSection .color {
    margin-bottom: 3vh;
  }
  .body .rightSection .color input {
    width: 5vh;
    height: 5vh;
    margin: 0 4vw 0 0;
  }
  .body .rightSection .price {
    font-size: 2.6vh;
    margin-bottom: 3vh;
  }
  .body .rightSection button {
    width: calc(15vh + 8vw);
    height: 7vh;
    font-size: 2vh;
    padding: 2vh 0;
    margin-bottom: 3vh;
  }
  .body .rightSection .description {
    font-size: 2vh;
    width: 90vw;
    padding-bottom: 3vh;
  }
}
