.cart {
  position: fixed;
  top: 6vh;
  right: 8vw;
  width: 15vw;
  min-height: 6vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}

.cart p {
  font-size: 1.4vh;
}

.cart .title {
  width: 100%;
  height: 6vh;
  line-height: 6vh;
}

.cart .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 33vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.cart .list::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #fff;
}

.cart .list::-webkit-scrollbar-thumb {
  background-color: #d5d9e1;
  border-radius: 10px;
}

.cart .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  font-weight: 600;
}

.cart .buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2vh;
}

.cart .buttons button {
  text-transform: uppercase;
  width: 48%;
  height: 3.4vh;
  font-size: 1.1vh;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.cart .buttons button:nth-child(1) {
  background-color: #fff;
  border: 2px solid black;
}

.cart .buttons button:nth-child(2) {
  background-color: #5ece7b;
  border: none;
  color: white;
}

.cart .buttons button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.empty {
  position: fixed;
  top: 6vh;
  right: 8vw;
  width: 15vw;
  height: 6vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: #fff;
  border-radius: 14px;
  z-index: 2;
}

.active {
  animation: 500ms showModal ease-out;
}

.modal p {
  font-size: 2.8vh;
  font-weight: 600;
  margin: 0;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 2;
}

@keyframes showModal {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media (orientation: portrait) {
  .cart {
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 94vh;
    font-size: 4vh;
    padding: 0;
  }
  .cart .title p {
    font-size: 3vh;
    margin: 0 5vw;
  }
  .cart .list {
    position: absolute;
    top: 8vh;
    max-height: 62vh;
  }
  .cart .total {
    position: absolute;
    bottom: 16vh;
  }
  .cart .total p {
    font-size: 3vh;
    margin: 0 5vw;
  }
  .cart .buttons {
    justify-content: space-between;
    margin-bottom: 10vh;
  }
  .cart .buttons button {
    width: 40%;
    height: 5vh;
    font-size: 2vh;
    margin: 0 5vw;
  }
  .cart .buttons button:hover {
    box-shadow: none;
  }
  .cart .buttons button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .empty {
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    font-size: 4vh;
  }
  .modal {
    width: 70%;
    text-align: center;
    padding: 0 5vw;
  }
}
